# traefik main domain, example "google.com"
DOMAIN=

# traefik acme email
ACME_EMAIL=

# all container white list ip using traefik
WHITELISTIP=

# rethinkgdb http expose 8888
RETHINKDB_HTTP_PORT=

# network name
# docker network create ${NAME}
NETWORK=
